
<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="css/main.css">
        <title>Dejas Webpage</title>
    </head>
    <body>
        
<h1><span>H</span>i, <span>E</span>veryone, <span>I</span>`m, <span>D</span>`eja </h1>
<h3> Welcome to my webpage!</h3>
<h4>Check out a few of my favorite things</h4>





<style 
type="text/css">
body{background-color: rgb(46, 40, 40); border: solid;margin: 8px; padding: 10px; padding: 15px;}
h1{color: palevioletred;}
h1{ text-decoration: underline;}
h3{color: rgb(0, 255, 242);}
h4{color: rgb(22, 141, 58);font-style: normal;}
#booklist{color: rgb(184, 10, 68);}
p{font-weight: 400; font-size: larger; color: aqua;} 
a{color: rgb(185, 30, 185);}
li{font-style: italic; font-size: larger;color: rgb(47, 174, 206);}
.favlist{text-decoration-line: underline;}
#Paragraph2 {color: rgb(216, 87, 104); font-size: larger;}
#Paragraph3 {color: rgb(71, 226, 231); font-size: larger;}
span{color: rgb(37, 156, 160); font-size: 60; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
#div1{background-color: rgb(212, 86, 2);}
#div2{background-color: rgb(14, 8, 0);}
form{background-color: rgb(219, 41, 139); padding:20; font-size: larger; font-style: inherit; color: black;}
input[type="button"]:hover{border: 0in; background-color: brown;}
input[type="text"] :hover{border: 0in; background-color: bisque;}
CSS#div1,#div2,{position:static;}

</style>

<nav>
    <a href="./Pages/Stories.html"> Stories </a>

</nav>





<ul>
    <li> <a href="https://www.bonappetit.com/restaurants-travel/navigator/article/louisiana-new-orleans-po-boys"> Favorite Food </a></li>
    <li> <a href="https://www.pinterest.com/angelaapayne/sew-pink/"> Favorite Hobby </a></li>
    <li> <a href="https://www.neworleans.com/events/holidays-seasonal/mardi-gras/the-ultimate-mardi-gras-survival-guide/"> Favorite City </a></li>
    </ul>


<a href="https://www.theproductivepixie.com/2020/05/plan-with-me-may-bullet-journal-layout.html?m=1">
    <img src="https://1.bp.blogspot.com/-RZcl6-CQfLc/Xq3h_c-nIYI/AAAAAAAAFYs/K_x17q9j2O06bpsp86c5Y2KoJdC-OrHFACLcBGAsYHQ/s280/20200502_131056%25280%2529.jpg"> </a>
</a>




<div id="div1">
<p>I was born on January 16th, an am originally from New Orleans, and now live in Georgia. I love to read and write in my spare time and am exited to get started! I took up an interest in software development after watching My uncle as a software egineer for Georgia Tech. I began to take my interest in coding more serious after attending a few workshops and tech conferences with him. I am also a mentor for <a href="https://www.everobotics.net/">EVE Robotics</a>, an all girls robotics club here in Atlanta, which compete in different robotics competitions! I hope to one day become a game developer while still focusing on AI. </p>
</div>


<p id="Paragraph2">
    I enjoy sewing and learned when I was younger from my great Aunt! I was always fascinated by the way so many small moving parts could create an entire garment. I believe sewing has this ic common with coding, the ability to piece together a small programming language that results in an entire website,program or game. I have always loved expressing myself through creativity and I hope I continue to do so as a software engineer! 
   </p>

   <div id="div2">
    <p class="Paragraph3">
     I have included a few links with more information on a few of my favorite things! As a New orleans native. I love a good meal and also enjoy cooking. I have recently learned how to make red beans and rice from scratch, which has made me belive I can accomplish anything. I am always open to learning and trying new things and am excited to see if my code can come out as well as my red beans and rice!    
    </p>
    
    </div>

<p id="booklist"> Below is a list of my favorite books!</p>


<ol>
    <li class="favlist">The Alchemist</li>
    <li class="favlist">The 48 Laws of Power</li>
    <li class="favlist">The Secret</li>
</ol>



<form>
    <h3>Lets get to know you!</h3>
    Favorite Color <br>
    <input type="text" name="favoritecolor"> <br>
    Hometown <br> 
    <input type="text" name="whereareyoufrom?"> <br>
    Hobbies <br> <input type="text" name="Hobbies"> <br>
    Dream Job <br> <input type="text" name="dreamjob"> <br>

<input type="button" name="letsdothis!" value="Lets Do This!">
        </form>




   

    





        </body>
        </html>
